@model Control_de_stock_ef.Models.HomeDashboardVM
@{
    ViewData["Title"] = "Home Page";
   
}


<main class="">
    @* Pasamos solo la parte del modelo que cada parcial necesita *@
    <partial name="_ViewInventarioDashboard" model="Model.Inventario" />

    <partial name="_ViewVentaDashboard" model="Model.Ventas" />
</main>